In [1]:
####### example to access text of json file
import json
import os
import fnmatch
import pandas as pd
import re

s1 = pd.Series([0,'test', 0])
df = pd.DataFrame([list(s1)], columns=['id', 'text','label'])
index = 0

for path, dirs, files in os.walk('twitter-english/'):
    if (path.endswith('source-tweet') or path.endswith('replies')):
        for filename in os.listdir(path):
            if filename.endswith('.json'):
                with open(os.path.join(path,filename)) as jsonFile:
                    jsonSourceTweet = json.load(jsonFile)

                    text_tweet = jsonSourceTweet['text']
                    id_tweet = int(re.sub("[^0-9]", "", filename))

                    newline = [id_tweet, text_tweet, index]
                    df.loc[index] = newline

                    index += 1

In [2]:
df.head()

,id,text,label
0,529661510369284096,"@mikeyerxa EXCUSE ME, WHERE'S MY INVITE (to th...",0
1,529661727940431872,@halihamilton @mikeyerxa gonna try to make it ...,1
2,529661317087768576,@mikeyerxa you should send Prince a set of ten...,2
3,529666750330449920,"@NobleRobel Girl, don't be mean. Age ain't n...",3
4,529660296080916480,Prince is playing a secret show in Toronto ton...,4

In [3]:
df_label = pd.read_json('train-key.json')

In [15]:
df_label.columns = ['label', 'b']
df_label

                      label      b
501760642928635904  comment    NaN
500270212198174720  comment    NaN
524971210275565568  comment    NaN
552836882770690049  comment    NaN
500289931097296897  support    NaN
...                     ...    ...
8gp0d7                query   true
8i274x                query  false
8n9173                query  false
8unvgg                query  false
8yktu5                 deny  false

[5217 rows x 2 columns]

In [19]:
df_label_cleanned = df_label.label
df_label_cleanned

501760642928635904    comment
500270212198174720    comment
524971210275565568    comment
552836882770690049    comment
500289931097296897    support
                       ...
8gp0d7                  query
8i274x                  query
8n9173                  query
8unvgg                  query
8yktu5                   deny
Name: label, Length: 5217, dtype: object

In [35]:
for i in range(len(df_label_cleanned)):
    try : 
        index = df.loc[i].id    
        df.loc[i].label = df_label.loc[str(index)].label
    except KeyError:
        print(index)
        break
df

524999801973506048

/Users/groshenspierre/opt/anaconda3/envs/iaml/lib/python3.8/site-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()

,id,text,label
0,529661510369284096,"@mikeyerxa EXCUSE ME, WHERE'S MY INVITE (to th...",0
1,529661727940431872,@halihamilton @mikeyerxa gonna try to make it ...,1
2,529661317087768576,@mikeyerxa you should send Prince a set of ten...,2
3,529666750330449920,"@NobleRobel Girl, don't be mean. Age ain't n...",3
4,529660296080916480,Prince is playing a secret show in Toronto ton...,4
...,...,...,...
5563,577283431089901568,@PatOndabak It is disconcerting that the man w...,5563
5564,577282462788677634,@PatOndabak or maybe he just needs a break fro...,5564
5565,577284294051123201,"@patondabak Maybe, just maybeâ€¦ he's huddling w...",5565
5566,577260238316830721,@PatOndabak I'm going with neutralized and the...,5566
5567,577258317942149120,Was Vladimir Putin netralized by an internal c...,5567

In [32]:
df_label.loc['529661510369284096']

label    comment
b            NaN
Name: 529661510369284096, dtype: object